Source Code/Flow.json
[{"id":"92552522.180738","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"92a8750b.2cac58","type":"camerapi-takephoto","z":"92552522.180738","filemode":"1","filename":"Door1.JPEG","filedefpath":"0","filepath":"/home/pi/Pictures/","fileformat":"jpeg","resolution":"10","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"0","awb":"auto","name":"Take Picture","x":425,"y":103,"wires":[["341ead0b.1ba462","6dbc65d2.24bd3c"]]},{"id":"341ead0b.1ba462","type":"debug","z":"92552522.180738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":635,"y":104,"wires":[]},{"id":"9144d73c.18c9f8","type":"debug","z":"92552522.180738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":879,"y":396,"wires":[]},{"id":"9cd4dd74.982c4","type":"pythonshell in","z":"92552522.180738","name":"Notification","pyfile":"/home/pi/Documents/pi.py","virtualenv":"","continuous":false,"stdInData":false,"x":625,"y":337,"wires":[["33a2c0b2.78c49"]]},{"id":"73ebecca.7ef5c4","type":"function","z":"92552522.180738","name":"timeConvert","func":"if ( !msg.timestamp ) msg.timestamp = Math.round(+new Date());\n\nvar dt = new Date(msg.timestamp);\nvar msg ={\n\t'all':      dt.getMonth()+ 1 + \"-\" + dt.getDate() +\"-\" + dt.getFullYear()+\"-\"+dt.getHours()+\"-\"+dt.getMinutes()+\"-\"+dt.getMilliseconds()\n}\nmsg.payload = msg.all;\nreturn msg;","outputs":1,"noerr":0,"x":255,"y":592,"wires":[["bdfdd062.b416d"]]},{"id":"bdfdd062.b416d","type":"firebase modify","z":"92552522.180738","name":"","firebaseconfig":"","childpath":"Testing/Time","method":"set","value":"msg.payload","priority":"msg.priority","x":579,"y":396,"wires":[["9144d73c.18c9f8"]]},{"id":"b7a5632a.8bbfe","type":"inject","z":"92552522.180738","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":161,"y":249,"wires":[["73ebecca.7ef5c4","92a8750b.2cac58","fce27f31.9aba7"]]},{"id":"33a2c0b2.78c49","type":"debug","z":"92552522.180738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":885,"y":315,"wires":[]},{"id":"fce27f31.9aba7","type":"firebase modify","z":"92552522.180738","name":"","firebaseconfig":"","childpath":"Testing/Action","method":"set","value":"0","priority":"msg.priority","x":587,"y":454,"wires":[["9144d73c.18c9f8"]]},{"id":"1dba6f5a.db7da1","type":"firebase.on","z":"92552522.180738","name":"TakePic","firebaseconfig":"","childpath":"Testing/TakePic","atStart":false,"eventType":"value","queries":[],"x":135,"y":425,"wires":[["73ebecca.7ef5c4","fce27f31.9aba7","1c4c3ff3.f51","59970c7b.f852d4"]]},{"id":"4b846429.7adcac","type":"debug","z":"92552522.180738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":882,"y":248,"wires":[]},{"id":"1219420a.1990ae","type":"exec","z":"92552522.180738","command":"python3 /home/pi/Documents/firebase2.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Upload","x":713,"y":248.5,"wires":[[],["4b846429.7adcac"],[]]},{"id":"6dbc65d2.24bd3c","type":"exec","z":"92552522.180738","command":"python3 /home/pi/Documents/pi-face-recognition/pi_face_recognition.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Recognize_Face","x":469,"y":190,"wires":[["689d9725.f39738"],["1219420a.1990ae"],["9cd4dd74.982c4"]],"outputLabels":["okay","okay","okay"]},{"id":"689d9725.f39738","type":"debug","z":"92552522.180738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":877,"y":186,"wires":[]},{"id":"1c4c3ff3.f51","type":"camerapi-takephoto","z":"92552522.180738","filemode":"1","filename":"Door1.JPEG","filedefpath":"0","filepath":"/home/pi/Pictures/","fileformat":"jpeg","resolution":"8","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"0","awb":"auto","name":"Take Picture","x":450,"y":519,"wires":[["45dae6c9.389728"]]},{"id":"45dae6c9.389728","type":"debug","z":"92552522.180738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":638,"y":518,"wires":[]},{"id":"59970c7b.f852d4","type":"exec","z":"92552522.180738","command":"python3 /home/pi/Documents/firebase3.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":true,"name":"Upload","x":501,"y":597,"wires":[[],["f440eb24.c925b8"],[]]},{"id":"f440eb24.c925b8","type":"debug","z":"92552522.180738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":716,"y":597.5,"wires":[]}]